extends layout

block content
  nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
    div.container
      a.navbar-brand(href="#") Bsale Front-End Test 
      form.form-inline.my-2.my-lg-0
  div.container
    div#productos.row
      


