extends layout

block content
  nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
    div.container
      a.navbar-brand(href="#") Bsale Front-End Test 
      form.form-inline.my-2.my-lg-0
      input#busqueda.form-control.mr-sm-2(type="search", placeholder="Busqueda")
      button(type="submit").btn.btn-outline-success.my-2.my-sm-0 Buscar
  div.container
    div#productos.row
      


